@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Permettre la sélection pour les champs de formulaire */
  input, 
  textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

@layer components {
  .page-title {
    @apply text-5xl font-extrabold text-gray-900 mb-6 text-center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .page-subtitle {
    @apply text-lg text-gray-600 max-w-3xl mx-auto text-center mb-12;
  }

  #Titre {
    font-size: 1px;       /* Texte minuscule */
    color: transparent;    /* Texte transparent */
  }
}